button:focus {
    outline: none;
}

.invoice-creation-container {
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
}

.blue-action-button {
    background-color: rgb(3, 158, 185);
    border:none;
    height: 35px;
    padding: 0px 10px 0px 10px;
    color: #FFF;
    margin-left: 5px;
}

.white-action-button {
    background-color: #FFF;
    border: 1.5px solid rgb(180, 180, 180);
    font-weight: 500;
    height: 35px;
    padding: 0px 10px 0px 10px;
}

.client-container {
    background-color: #FFF;
    margin-bottom: 30px;
    padding: 20px;
}

.client-info .client-name {
    font-weight: 600;
}

.client-info {
    padding: 30px  0px 30px 0px;
}

#new-customer {
    height: 55px;
    border-radius: 0px 5px 5px 0px;
    bottom: 10px;
    position: relative;
    right: 10px;
}

#new-product {
    position: relative;
    bottom: 10px;
    right: 9px;
    height: 55px;
    border-radius: 0px 5px 5px 0px;
}

.client-info-container {
    margin: auto;
    border: 0.5px solid #eeeeee;
    border-top: 3px solid #2196f3;
    padding: 20px;
    border-radius: 5px;
}

.client-info-container:hover {
    background-color: #eeeeee;
    transition: 100ms;
}

.client-action-row {
    padding-left: 10px;
}

.product-container {
    background-color: #FFF;
    padding: 20px;
}

.product-container button {
    margin-right: 5px;
}

.invoice-buttons-container {
    border: 1px dotted rgb(192, 192, 192);
    padding: 20px;
}

.invoice-buttons-container p {
    padding-top: 30px;
}

.product-container table {
    width: 100%;
    margin: auto;
    border: 0.5px solid rgb(202, 202, 202);
}

.product-container table th {
    color: rgb(44, 44, 44);
    background-color: rgb(231, 231, 231);
    font-weight: 500;
    padding: 5px;
    border: 0.5px solid rgb(202, 202, 202);
}

.product-container table td {
    padding: 3px;
}

.table-cells {
    border: 0.5px solid rgba(202, 202, 202, 0.521);
}

.table-cells input {
    border: 1px solid rgb(202, 202, 202);
    width: 100%;
    display: block;
    min-height: 100%;
    padding: 5px;
    text-align: right;
}

.product-number {
    width: 70px;
}

.product-description {
    width: 300px;
}

.product-amount {
    width: 150px;
}

.product-amount input {
    text-align: right;
}

.product-unit {
    width: 150px;
    text-align: left;
}

.product-unit input {
    text-align: left;
}

.product-price {
    width: 150px;
}

.product-moms {
    width: 80px;
}

.product-total {
    width: 200px;
    text-align: right;
}

.cell-center {
    text-align: center;
    width: 20px;
}
    

.total-info-container {
    min-width: 100%;
}

.total-info-col {
    text-align: right;
    border-right: 1px solid rgba(202, 202, 202, 0.521);
    border-left: 1px solid rgba(202, 202, 202, 0.521);
}

.total-info-top {
    border-top: 1px solid rgba(202, 202, 202, 0.521);
    border-right: 1px solid rgba(202, 202, 202, 0.521);
    border-left: 1px solid rgba(202, 202, 202, 0.521);
    text-align: right;
}

.total-info-middle {
    border-right: 1px solid rgba(202, 202, 202, 0.521);
    text-align: right;
}

.total-info-bottom {
    border-bottom: 1px solid rgba(202, 202, 202, 0.521);
    border-right: 1px solid rgba(202, 202, 202, 0.521);
    border-left: 1px solid rgba(202, 202, 202, 0.521);
    text-align: right;
}

.border-both {
    border-right: 1px solid rgba(202, 202, 202, 0.521);
    border-left: 1px solid rgba(202, 202, 202, 0.521);
}

.sum-total {
    text-align: center;
    padding-top: 20px;
}

.invoice-total {
    background-color:rgba(25, 5, 199, 0.884);
    color: #FFF;
    font-size: 15px;
    padding: 0px 12px 0px 12px;
    border-radius: 25px;
    margin-bottom: 100px;
}

.demand-settings {
    background-color: #FFF;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
}

.demand-settings h5 {
    padding-top: 8px;
}

.invoice-date  {
padding: 50px 0px 0px 20px;
}

.invoice-type {
    background-color: #FFF;
    margin-top: 30px;
    padding: 20px 0px 30px 20px;
}

.type {
    text-align: center;
    padding: 30px;
    width: 200px;
}

.type .type-header {
    font-size: 44px;
}

.padding-top {
    padding-top: 50px;
}

.invoice-terms {
    padding: 10px 0px 0px 0px;
}

#send-invoice {
    margin-top: 10px;
}

#publish-invoice {
    margin-top: 10px;
}

.demand-header {
    display: inline-block;
    width: calc(100%-50px);
}

.activate-header {
    display: inline-block;
    width: 50px;
}